.navbar {
  height: 80px;
  background-color: #95a5a6;
}
.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.nav-logo {
  margin-left: 50px;
  cursor: pointer;
}
.nav-menu {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 50px;
}
.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 1rem;
}
.nav-item:hover {
  border-bottom: 5px solid #9b59b6;
}
.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    background-color: #95a5a6;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 80px;
    left: -100%;
    color: #9b59b6;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    left: 0;
    transition: all 1s ease;
  }
  .nav-item {
    width: 100%;
  }
  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
  }
}
